/* style for pages */
.carousel-caption {
    top: 30%;
    bottom: auto;
}

.carousel-item,
.carousel-inner,
.carousel-inner img {
    height: 100%;
    width: 100%;
}
.carousel-item {    text-align: center; }


/* screen 1 */
.card-img { height: 350px; }
.carousel { height: 350px; }
html {  font-size: 0.8rem;  }
.display-4{ font-size: 2rem;  }


/* screen 2 */
@media (min-width: 576px) {

    html { font-size: 1.25rem; }
    .display-4 {  font-size: 2.25rem; }
    .card-img { height: 400px; }
    .carousel {   height: 400px; }
}

/* screen 3 */
@media (min-width: 768px) {

    html { font-size: 1rem;}
    .display-4 { font-size: 2.5rem; }
    .card-img { height: 450px; }
    .carousel { height: 450px; }
}

/* screen 4 */
@media (min-width: 992px) {

    html { font-size: 1rem; }
    .display-4 { font-size: 2.75rem; }
    .card-img { height: 470px; }
    .carousel{ height: 470px; }
}

/* screen 5 */
@media (min-width: 1200px) {
    html { font-size: 1rem; }
    .display-4 { font-size: 4rem; }
    .card-img { height: 550px; }
    .carousel{ height: 450px; }
}

