<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/af-2.3.5/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/kt-2.5.2/r-2.2.5/rg-1.1.2/rr-1.2.7/sp-1.1.1/sl-1.3.1/datatables.min.css"/>
<link rel="stylesheet" href="{% static 'hospital/css/main.css' %}">
<title>{% block title %} {% endblock %}</title>
</head>
<body>

    {% block navbar %}
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: #0e2c41;">
                <a class="navbar-brand font-weight-bold" href="#">
                    <img src="{% static 'hospital/images/slide_5.jpg' %}" alt="" width="40" height="40"
                        class="rounded-circle d-inline-block align-top">
                    ChristCare Medical Home
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mr-5 pb-1 text-uppercase">
                        <li class="nav-item active mr-4">
                            <a class="nav-link" href="{% url 'hospital:index' %}">Home <span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item active mr-4">
                            <a class="nav-link" href="{% url 'hospital:logout' %}">Logout </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    {% endblock %}

    {% block body %} 
    
    {% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/af-2.3.5/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/kt-2.5.2/r-2.2.5/rg-1.1.2/rr-1.2.7/sp-1.1.1/sl-1.3.1/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#patient_table').DataTable({
            dom: 'B<"clear">lfrtip',
            buttons: {
                name: 'primary',
                buttons: ['copy', 'csv', 'excel', 'pdf']
            }
        });
    });
</script>

</body>
</html>